@font-face {
    font-family: 'titre';
    src: url('../font/PoetsenOne-Regular.ttf');
}

@font-face {
    font-family: 'citation';
    src: url('../font/Florence-Regular.ttf');
}


/*********** grande section *************/
body {
  /* aspect */
  /*background-color: #dfdfe8;*/
  background-color: #252830;
  color: white;
}

div#titre {
  /* aspect */
  background-color: rgb(40, 75, 200);
  color: white;
  border-radius: 20px;
  font-family: 'titre';

  /* positionnement contenu */
  text-align: center;

  /* positionnement balise */
  margin-top: 2%;

}

section {

  /* aspect texte */
  font-family: Arial;

  /* aspect */
  /*background-color: rgba(255, 255, 255, 0.8);*/
  text-align: justify;
  font-size: 20px;
  border-radius: 20px;

  /* taille */
  margin: 4%;

}

nav {
  /* apparence */
  font-family: 'titre';

  margin-top: 5%;
}

aside {
  margin-top: 2%;
  margin-left: 2%;
}

/********** detail ***************/
td {
    /*border: 1px solid black;*/
    padding: 6%;
    text-align: center;
}

ul {
  /* aspect */
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

h2 {
  text-align: center;
  font-weight: bold;
}

/******* class *********/
.navElement {

  /* aspect */
  font-size: 20px;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  text-align: center;

  /* position balise */
  margin-top: 25%;
  padding-left: 5%;
  padding-right: 5%;

  background-attachment: scroll;
}

.linkElement {
  margin-top: 5%;
}

.linkPicture {
  width: 130%;
}

.linkPicture:hover {
  width: 150%;
  border-radius: 70px;
  box-shadow: 10px 10px 4px 4px rgba(0,0,0,0.5);
}

.activite {
  list-style-type: circle;
  margin-left: 20%;
}

.competence {
  font-family: "Arial Black";
  font-weight: bold;
  font-size: 125%;
}

/******** id ***********/
#elliot {
  width: 12%;
  margin-left: 3%;
  display: inline-block;
}

#tmp {
  padding-bottom: 70%;
}

#pied {
  text-align: center;
}

#citation {
  text-align: center;
  font-family: 'citation';
  font-style: italic;
  font-weight: bold;
}

#authorCitation {
  text-align: center;
  font-style: italic;
}
